*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
margin-top: 20px;
margin-right: 100px;
  margin-bottom: 100px;
    float: right;
    width: 350px;
    height: 350px;
    position: relative;


}
.text{
    position: absolute;
  
margin-top: 50px;
margin-left: 40px;
width: 700px;
font-size: large;



}
.text h2{
   
    font-size: 40px;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
}
span{
   background-color: gray;
   color: white;
   padding: 10px;
   border-radius: 10px;
}
.text p{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    font-weight: 500;
}
